@{
    ViewBag.Title = "User";
}

<!-- Content -->
<div class="container-fluid flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-loading" style="height: 672px">
            <div aria-label="Loading..." role="status" class="loader">
                <svg class="icon" viewBox="0 0 256 256">
                    <line x1="128" y1="32" x2="128" y2="64" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                    <line x1="195.9" y1="60.1" x2="173.3" y2="82.7" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                    <line x1="224" y1="128" x2="192" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                    <line x1="195.9" y1="195.9" x2="173.3" y2="173.3" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                    <line x1="128" y1="224" x2="128" y2="192" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                    <line x1="60.1" y1="195.9" x2="82.7" y2="173.3" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                    <line x1="32" y1="128" x2="64" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                    <line x1="60.1" y1="60.1" x2="82.7" y2="82.7" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
                </svg>
                <span class="loading-text">Loading...</span>
            </div>
        </div>
        <div class="card-datatable table-responsive text-nowrap">
            <table id="userDatatable" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <!-- Users Modal -->
    <div class="modal fade" id="modalUser" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form class="modal-content" id="userFormData" method="post" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating form-floating-outline mb-4">
                        <input type="number" name="id" id="id" class="d-none" >
                        <input type="text" class="form-control" id="username" name="Username" placeholder="Enter your username" autofocus required="required"/>
                        <label for="username">Username</label>
                    </div>
                    <div class="mb-3">
                        <div class="form-password-toggle">
                            <div class="input-group input-group-merge">
                                <div class="form-floating form-floating-outline">
                                    <input type="password" id="password" class="form-control" name="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required="required"/>
                                    <label for="password">Password</label>
                                </div>
                                <span class="input-group-text cursor-pointer">
                                    <i class="mdi mdi-eye-off-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- / Content -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#usersMainMenu').addClass('active');
            
            // Initial global variables
            let datatable, listData = [];
            const modalUser = $('#modalUser'),
                modalUserTitle = $('#modalUserTitle'),
                userFormData = $('#userFormData'),
                cardLoading = $('.card-loading');
            
            // Toastr notification
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "timeOut": "6000",
                "showMethod": "fadeIn",
            }
            
            // Get notifications
            function getUsers() {
                $.ajax({
                    url: '/Users/GetAll/',
                    method: 'get',
                    dataType: 'json',
                    beforeSend: function() {
                        cardLoading.removeClass('d-none');
                    },
                    success: function(response) {
                        listData = [];
                        listData = response;
                        datatable.clear();
                        datatable.rows.add(listData);
                        datatable.draw();
                    },
                    complete: function() {
                        cardLoading.addClass('d-none');
                    }
                });
            }
            getUsers();
            
            /* Initial Datatable */
            datatable = $('#userDatatable').DataTable({
                data: listData,
                columns: [
                    {data: "id",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {data: "username"},
                    {data: "password"},
                    {data: "id",
                        render: function(data) {
                            return (`
                                <div class="d-inline-block text-nowrap">
                                    <button class="btn btn-sm btn-icon" id="btnEdit" data-id="${data}">
                                        <i class="mdi mdi-pencil-outline"></i>
                                    </button>
                                </div>
                            `);
                        }
                    },
                ],
                // scrollY: '55vh',
                dom: '<"card-header d-flex border-top rounded-0 flex-wrap py-md-0"<"me-5 ms-n2 pe-5"f><"d-flex justify-content-start justify-content-md-end align-items-baseline"<"dt-action-buttons d-flex align-items-start align-items-md-center justify-content-sm-center mb-3 mb-sm-0 gap-3"lB>>>t<"row mx-1"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search users',
                    info: 'Displaying _START_ to _END_ of _TOTAL_ entries',
                },
                buttons: [
                    {
                        extend: 'collection',
                        className: 'btn btn-label-secondary dropdown-toggle me-3 py-1',
                        text: '<i class="mdi mdi-export-variant me-1"></i><span class="d-none d-sm-inline-block">Export</span>',
                        buttons: [
                            {
                                extend: 'csv',
                                text: '<i class="mdi mdi-file-document-outline me-1" ></i>Csv',
                                className: 'dropdown-item',
                                exportOptions: {
                                    // columns: [1, 2, 3, 4, 5]
                                },
                            },
                            {
                                extend: 'excel',
                                text: '<i class="mdi mdi-file-excel-outline me-1"></i>Excel',
                                className: 'dropdown-item',
                                exportOptions: {
                                    // columns: [1, 2, 3, 4, 5]
                                },
                            },
                            {
                                extend: 'copy',
                                text: '<i class="mdi mdi-content-copy me-1"></i>Copy',
                                className: 'dropdown-item',
                                exportOptions: {
                                    // columns: [1, 2, 3, 4, 5]
                                },
                            }
                        ],
                    },
                    {
                        text: '<i class="mdi mdi-plus me-0 me-sm-1"></i><span class="d-none d-sm-inline-block">Add Message</span>',
                        className: 'btn-add-new btn btn-primary',
                        /*attr: {
                            'data-bs-toggle': 'modal',
                            'data-bs-target': '#modalVehicle'
                        }*/
                    }
                ]
            });
            $('.dataTables_length').addClass('mt-0 mt-md-3');
            $('.dt-action-buttons').addClass('pt-0');
            $('.dataTables_filter .form-control').removeClass('form-control-sm');
            $('.dataTables_length .form-select').removeClass('form-select-sm');
            
            // Show modal
            $(document).on('click', '.btn-add-new', function() {
                modalUser.modal('show');
                modalUserTitle.text('Add user');
                clearFormData();
            });
            
            // Pass data to notification controller
            userFormData.submit(function(e) {
                e.preventDefault();
                
                const formData = new FormData(this);
                
                if ($('#id').val() === '') {
                    $.ajax({
                        url: '/Users/Create/',
                        method: 'post',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function(response) {
                            if (response.statusCode === 200) {
                                getUsers();
                                toastr.success(response.statusMessage);
                                clearFormData();
                                modalUser.modal('hide');
                            } else {
                                toastr.error(response.statusMessage);
                            }
                        },
                        error: function(err) {
                            console.log(err.toString());
                        }
                    });
                } else {
                    $.ajax({
                        url: '/Users/Update/',
                        method: 'post',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function(response) {
                            if (response.statusCode === 200) {
                                getUsers();
                                toastr.success(response.statusMessage);
                                clearFormData();
                                modalUser.modal('hide');
                            } else {
                                toastr.error(response.statusMessage);
                            }
                        },
                        error: function(err) {
                            console.log(err.toString());
                        }
                    });
                }
            });
            
            // Edit data
            $(document).on('click', '#btnEdit', function() {
                modalUser.modal('show');
                modalUserTitle.text('Edit user');
                const id = $(this).data('id');
                
                $.ajax({
                    url: `/Users/GetById/${id}`,
                    method: 'get',
                    dataType: 'json',
                    success: function(response) {
                        $('#id').val(response.id);
                        $('#username').val(response.username);
                        $('#password').val(response.password);
                    }
                });
            });
            
            // Clear form data
            function clearFormData() {
                userFormData[0].reset();
            }
        });
    </script>
}
