@{
    ViewData["Title"] = "Home Page";
}

<!-- Content -->
<div class="container-fluid flex-grow-1 container-p-y">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
<!-- / Content -->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dashboardMainMenu').addClass('active');
        });
    </script>
}
